<nav
  class="h-16 w-full bg-gradient-to-b from-black to-transparent px-10 flex items-center justify-start gap-x-5 font-normal fixed inset-0 z-50 "
>
  <div class="w-24">
    <img
      src="https://www.freepnglogos.com/uploads/netflix-logo-0.png"
      alt="netflix logo"
      class="w-full h-full"
    />
  </div>
  <ul class="text-white/80 w-2/3 gap-x-6 text-sm ml-4 hidden md:flex">
    <li *ngFor="let item of navItems">
      <a [href]="item.href" routerLinkActive="">{{ item.name }}</a>
    </li>
  </ul>
</nav>
