<section class="relative">
  <div
    class="hero-wrapper h-screen w-full flex justify-start items-center inset-0 p-4 relative md:p-12"
  >
    <img
      class="hero-img object-cover object-center absolute w-full h-full -z-20 inset-0 bg-y"
      src="https://occ-0-4896-56.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABWeJil9a0tSBnBqgkUUFyxwmzGeYlMP56q3ifIEJzpxUwOVwtpoVaKzO0VKI6R-ZT6Yo0U1B_dtOhcQIPv6MB1wmeSYmrW7VCQOt.jpg?r=5b9"
    />
    <div class="flex flex-col w-1/2">
      <img
        alt="Triptych"
        class="w-[80%]"
        src="https://occ-0-4896-56.1.nflxso.net/dnm/api/v6/LmEnxtiAuzezXBjYXPuDgfZ4zZQ/AAAABe4Mi1pwGukH_A691SZh2hLSRYldL4dnkhp377w9CGP8cxQCZdLrUnRldFJ0yQ2_NZv2phDGh-65zpGDfeGqJ33X-a_mRg9sHDexQH0mmwUX2mYkioBtQ-lDmdmXhDab0QsAtgfWzEz7nuk-cScKnJFDn3UP260s9STL-yr6r_YMhQjefxyWRQ.png?r=259"
        title="Triptych"
      />
      <p class="text-white font-medium w-4/5 text-start text-md">
        After learning she was separated at birth from her two identical
        sisters, Rebecca embarks on a perilous journey to uncover the truth
        about her origins.
      </p>
      <div class="flex justify-start items-center gap-x-6 mt-5">
        <button
          class="flex items-center justify-center px-6 py-2 bg-white text-black rounded font-medium text-md gap-x-2"
        >
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="Hawkins-Icon Hawkins-Icon-Standard"
          >
            <path
              d="M4 2.69127C4 1.93067 4.81547 1.44851 5.48192 1.81506L22.4069 11.1238C23.0977 11.5037 23.0977 12.4963 22.4069 12.8762L5.48192 22.1849C4.81546 22.5515 4 22.0693 4 21.3087V2.69127Z"
              fill="currentColor"
            ></path>
          </svg>

          Play
        </button>
        <button
          class="flex items-center justify-center px-6 py-2 bg-[#6d6d6eb3] text-white rounded font-medium text-md gap-x-2"
        >
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="Hawkins-Icon Hawkins-Icon-Standard"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3ZM1 12C1 5.92487 5.92487 1 12 1C18.0751 1 23 5.92487 23 12C23 18.0751 18.0751 23 12 23C5.92487 23 1 18.0751 1 12ZM13 10V18H11V10H13ZM12 8.5C12.8284 8.5 13.5 7.82843 13.5 7C13.5 6.17157 12.8284 5.5 12 5.5C11.1716 5.5 10.5 6.17157 10.5 7C10.5 7.82843 11.1716 8.5 12 8.5Z"
              fill="currentColor"
            ></path>
          </svg>
          More information
        </button>
      </div>
    </div>
  </div>
  <div class="hero-divider h-14 w-full absolute bottom-0 right-0 left-0"></div>
</section>
